.App {
  text-align: center;
}

/* Use Audiowide font for a cool, semi-futuristic, playful, musical style */
.App {
  text-align: center;
  font-family: 'Audiowide', Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #E6E6FA; /*Lavender*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #40E0D0; /*Turquoise*/
}

/*40E0D0*/

.status-container {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #3a3f47;
  border-radius: 8px;
  font-size: 1rem;
}

.status-container p {
  margin: 0.5rem 0;
}
